$color-de-fondo: rgba(0, 0, 0, 0.892);
$fuente-de-la-web: 'Montserrat', sans-serif;
$shadow-hover: 4px 4px rgb(0, 0, 0);
$animacion-carga: all .4s ease-in-out 0s;
$animaciion-carga2: all .4s ease-in-out 0s;
$animaciion-transicion: all 0.4s ease-in-out 0s;
$color-de-fuente: #fff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo de la web */
#portada-img {

    /* background-color: #000000;
    background: linear-gradient(to right, #000000, #464646);*/
    background-image: url(../img/pete-f-SXDfG6HOyX4-unsplash.jpg);
    background-size: cover;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: center;
}

a{
    text-shadow: none;
    text-decoration: none;
    text-decoration-line: none;
    font-family: $fuente-de-la-web;
}