/*------------------ Hoja de estilos seccion Principal --------------------*/


.portada-container {
    display: flex;
    /*-- Direccion de los elementos--*/
    flex-direction: column;
    /*-- Distribucion de los elementos--*/
    justify-content: center;
    align-items: center;

    -webkit-transition: $animacion-carga;
    -moz-transition: $animaciion-carga2;
    transition: $animaciion-transicion;
}

@media (min-width:800px) {
    .portada-container {
        flex-direction: column;
        justify-content: space-around;
    }
}

/* Titulo y texto en la pagina principal de la web */

.portada1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000000d8;
    padding: 50px 30px;
    box-shadow: 1px 1px 20px #616161bd;
    border-radius: 25px;
    width: 100%;

    -webkit-transition: $animacion-carga;
    -moz-transition: $animaciion-carga2;
    transition: $animaciion-transicion;

    &:hover {
        box-shadow: 0px 0px 20px rgb(255, 255, 255);
        border-radius: 20px;
        transition-duration: .1s;
    }
}

.titulo-portada1 {
    text-align: center;
    font-family: $fuente-de-la-web;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px rgb(0, 0, 0);
    padding-bottom: 40px;
    padding-top: 50px;
}

.parrafo-portada1 {
    font-size: 1.3rem;
    font-style: oblique;
    text-align: center;
    color: $color-de-fuente;
    text-shadow: 3px 3px rgb(0, 0, 0);
    font-family: $fuente-de-la-web;
}

@media (min-width:360px) {
    .parrafo-portada1 {
        max-width: 650px;
    }
}

@media (min-width:1000px) {
    .portada1 {
        justify-self: end;
    }
}