/*------------- Hoja de estilos seccion Productos -------------*/

.titulo-categorias {
    margin: 20px 150px;
    font-family: $fuente-de-la-web;
    font-size: 2rem;
    font-style: oblique;
    color: rgba(255, 255, 255, 0.826);
    text-shadow: 5px 5px rgba(48, 48, 48, 0.493);
    margin: 2rem 2rem;
}

@media (min-width:768px) {
    .titulo-categorias {
        margin: 2rem 10rem;
    }
}

.articulo-zapato-container {
    font-family: $fuente-de-la-web;
    background-color: $color-de-fondo;
    padding: 20px 0;


    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;

    justify-content: space-around;
    align-items: center;
    color: $color-de-fuente;
}

.caja-categorias__productos {
    font-size: 1.8rem;
    text-align: center;
    background-color: $color-de-fondo;

    width: 200px;
    height: 200px;

    border-radius: 8px;
    box-shadow: 15px 15px 30px rgb(0, 0, 0);
    overflow: hidden;
}

/* Primer recuadro (zapato-rojo) */

.elemento1__producto {
    box-shadow: 15px 15px 30px rgb(0, 0, 0);
}

article input[type="radio"] {
    display: none;
}

article .label-radio {
    color: $color-de-fuente;
    display: inline-block;
    cursor: pointer;

    &:hover {
        box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.733);
        border-radius: 10px;
    }
}

.h3-producto {
    font-size: 1.2rem;
    text-shadow: 1px 0.2px rgb(182, 182, 182);
}

/* Recuadros de categorias*/
.imagen-zapato, .imagen-vestido,.imagen-vestido-corto, .imagen-accesorios {
    height: 80%;
}

@media (min-width:768px) {
    .articulo-zapato-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
    }
}

/* Segunda seccion de la pag productos */

.solo-zapatos {
    font-family: $fuente-de-la-web;
    background-color: $color-de-fondo;
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 50px;

    justify-content: space-around;
    align-items: center;
    color: $color-de-fuente;
}

@media (min-width:768px) {
    .solo-zapatos {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
    }
}

@media (min-width:1100px) {
    .solo-zapatos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        justify-items: center;
        align-items: center;
        row-gap: 30px;
    }
}

.articulo {
    font-size: 1.8rem;
    text-align: center;
    background-color: $color-de-fondo;

    width: 270px;
    height: 400px;

    border: 1px solid black;
    border-radius: 8px;
    // box-shadow: 5px 5px 20px white;
    overflow: hidden;

    &:hover {
        box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.733);
    }
}

.boton-comprar {
    border-radius: 50px;
    padding: 6px;
    margin-left: 30px;
    background-color: rgba(80, 79, 79, 0.74);
    color: $color-de-fuente;
    font-size: 1rem;
    font-style: oblique;
    font-family: $fuente-de-la-web;
}