/* Formulario de la pagina principal de la web */

.portada2 {
    @include flexbox (center, center, column);
    color: $color-de-fuente;
    text-align: center;
    margin: 30px;
    padding: 1px;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgb(255, 255, 255);

    text-align: center;
    background-color: #000000;
    background: linear-gradient(to right, #464646, #000000);


    -webkit-transition: $animacion-carga;
    -moz-transition: $animaciion-carga2;
    transition: $animaciion-transicion;

    &:hover {
        box-shadow: 0px 0px 20px rgb(255, 255, 255);
        border-radius: 25px;
        transition-duration: .2s;
    }
}

@media (min-width:426px) {
    .caja {
        width: 450px;
    }
}

.form-contenedor {
    background: linear-gradient(to right, #464646, #000000);
    border-radius: 30px;
    position: relative;
    // overflow: hidden;
    width: 100%;
    height: 100%;
    margin-top: 30px;

    span {
        font-size: .9rem;
    }

    h2 {
        padding-bottom: 20px;
    }
}

.login {
    color: $color-de-fuente;
    padding: 30px 0 50px 0;
    text-shadow: 4px 4px rgb(0, 0, 0);
    font-size: 1rem;
    font-family: $fuente-de-la-web;

    text-align: center;
    margin-top: 10px;

    .form-icons {
        margin: 30px 0 0 0;

        a {
            color: $color-de-fuente;
            border: 1px solid #b4b4b4;
            border-radius: 20%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin: 0 3px;
            width: 50px;
            height: 50px;
        }
    }
}

.formulario {
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
    padding-left: 22px;
    font-family: $fuente-de-la-web;

    -webkit-transition: $animacion-carga;
    -moz-transition: $animaciion-carga2;
    transition: $animaciion-transicion;

    form {
        @include flexbox(center, center, column);

        a {
            text-decoration: none;
            color: #ffffff;
            cursor: pointer;
        }
    }
}

.login form a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

// desaparece el inicio de sesion //
#inicio-sesion-formulario {
    display: none;
}

.form-registro {
    width: 100%;
}

.caja-blanca-formulario {
    background-color: #b6b6b6;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 90%;
    outline: none;
}

.boton-enviar {
    font-family: $fuente-de-la-web;
    background-color: #000000;
    color: $color-de-fuente;
    font-size: .9rem;
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 10px 40px 20px 40px;
    cursor: pointer;

    &:hover {

        color: black;
        background: #707070;
        box-shadow: inset 21px 21px 45px #373737,
            inset -21px -21px 45px #a9a9a9;

    }
}

.notificacion {
    margin-top: 25px;
}

@media (min-width:425px) {
    .boton-enviar {
        padding: 10px 60px 10px 60px;
    }
}

@media (min-width:800px) {
    .portada2 {
        padding-top: 10px;

    }

    .boton-enviar {
        margin: 50px 0px;
        padding: 10px 100px 10px 100px;
    }
}

@media (min-width:868px) {
    .portada2 {
        display: none;
    }
}


.oculto {
    font-weight: bold;

}

#boton-toggle,
#enlace-registro {
    text-decoration: none;
    color: $color-de-fuente;
    cursor: pointer;

    margin-bottom: 40px;

    &:hover {
        text-decoration: underline;
    }
}

button {
    background-color: #000000;
    color: $color-de-fuente;
    font-size: .9rem;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

input {
    background-color: #b6b6b6;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    outline: none;
}

//animacion del formulario de mobile y tablet//

/**/
.form-animacion {
    position: relative;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transition: transform 0.5s ease-in-out;
    animation: move 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) both;
}

#registro-formulario {
    transform: translateY(90%);
}

#inicio-sesion-formulario {
    transform: translateY(100%);
}

@keyframes move {

    0% {
        top: 0px;
    }

    100% {
        top: -500px;
    }
}

@media (min-width:800px) {
    @keyframes move {
        100% {
            top: -570px
        }
    }
}

/* ------->Formulario para escritorio <-------- */

.formulario2 {
    display: none;
}

@media (min-width:868px) {

    .formulario2 {
        @include flexbox (center, center, column);

        font-family: $fuente-de-la-web;
        padding: 150px 0 200px 0;

        -webkit-transition: $animacion-carga;
        -moz-transition: $animaciion-carga2;
        transition: $animaciion-transicion;
    }

    form h2 {
        text-shadow: 4px 4px rgba(0, 0, 0, 0.247);
    }

    .container2 {
        background-color: $color-de-fuente;
        border-radius: 30px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.45);
        position: relative;
        overflow: hidden;
        width: 768px;
        max-width: 100%;
        min-height: 480px;

        &:hover {
            box-shadow: 0px 0px 20px rgba(121, 121, 121, 0.616);
            transition-duration: .2s;
        }

        p {
            font-size: .9rem;
            line-height: 20px;
            letter-spacing: 0.3px;
            margin: 20px 0;
        }

        span {
            font-size: .9rem;
        }

        a {
            color: #333;
            font-size: .9rem;
            text-decoration: none;
            margin: 15px 0 10px;
        }

        button {
            background-color: #000000;
            color: $color-de-fuente;
            font-size: .9rem;
            padding: 10px 45px;
            border: 1px solid transparent;
            border-radius: 8px;
            font-weight: 600;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            margin-top: 10px;
            cursor: pointer;
            border-radius: 8px;

            &:hover {
                color: black;
                background: #707070;
                box-shadow: inset 21px 21px 45px #373737,
                    inset -21px -21px 45px #a9a9a9;
            }
        }

        button.hidden {
            background-color: transparent;
            border-color: #fff;
        }

        form {
            background-color: #fff;
            @include flexbox (center, center, column);

            padding: 0 40px;
            height: 100%;
        }

        input {
            background-color: #b6b6b6;
            border: none;
            margin: 8px 0;
            padding: 10px 15px;
            font-size: 13px;
            border-radius: 8px;
            width: 100%;
            outline: none;
        }

        .form-container {
            position: absolute;
            top: 0;
            height: 100%;
            transition: all 0.6s ease-in-out;
        }

        .sign-in {
            left: 0;
            width: 50%;
            z-index: 2;
        }

    }

    .container2.active .sign-in {
        transform: translateX(100%);
    }

    .sign-up {
        left: 0;
        width: 50%;
        opacity: 0;
        z-index: 1;
    }

    .container2.active .sign-up {
        transform: translateX(100%);
        opacity: 1;
        z-index: 5;
        animation: move 0.6s;
    }

    @keyframes move {

        0%,
        49.99% {
            opacity: 0;
            z-index: 1;
        }

        50%,
        100% {
            opacity: 1;
            z-index: 5;
        }
    }

    .social-icons {
        margin: 20px 0;

        a {
            border: 1px solid #b4b4b4;
            border-radius: 20%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin: 0 3px;
            width: 40px;
            height: 40px;
        }
    }

    .toggle-container {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        overflow: hidden;
        transition: all 0.6s ease-in-out;
        border-radius: 150px 0 0 100px;
        z-index: 1000;
    }

    .container2.active .toggle-container {
        transform: translateX(-100%);
        border-radius: 0 150px 100px 0;
    }

    .toggle {
        background-color: #494949;
        height: 100%;
        background: linear-gradient(to right, #494949, #000000);
        color: #fff;
        position: relative;
        left: -100%;
        height: 100%;
        width: 200%;
        transform: translateX(0);
        transition: all 0.6s ease-in-out;
    }

    .container2.active .toggle {
        transform: translateX(50%);
    }

    .toggle-panel {
        position: absolute;
        width: 50%;
        height: 100%;
        @include flexbox (center, center, column);

        padding: 0 30px;
        text-align: center;
        top: 0;
        transform: translateX(0);
        transition: all 0.6s ease-in-out;
    }

    .toggle-left {
        transform: translateX(-200%);
    }

    .container2.active .toggle-left {
        transform: translateX(0);
    }

    .toggle-right {
        right: 0;
        transform: translateX(0);
    }

    .container2.active .toggle-right {
        transform: translateX(200%);
    }

    /* --->Final del Formulario para escritorio <---- */
}